<div class="modal-content">
  <div class="d-flex flex-row">
    <div class="p-0 error">
      <i class="demo-icon icon-attebtion"></i>
    </div>
    <div class="flex-fill p-2">
      <div class="nav justify-content-between align-items-center">
        <div class="message-header">Error</div>
        <button
          type="button"
          class="btn-close btn-close-white"
          (click)="close()"
          aria-label="Close"
        >X</button>
      </div>

      <p class="my-2"> {{message}} </p>
      <div class="d-flex flex-row justify-content-end">

      </div>
    </div>
  </div>
</div>
